:root {
  --spacing-1: 0.5em;
  --spacing-2: calc(var(--spacing-1) * 1.61803);
  --spacing-3: calc(var(--spacing-2) * 1.61803);
  --sublime-black: ##1D2023;
  --sublime-gray: #303841;
  --sublime-light-gray: #3E464E;
  --sublime-orange: #FF9800;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--sublime-light-gray);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: auto;
}

/* Buttons */
.btn-primary {
  padding: var(--spacing-2) var(--spacing-3);
  background-color: var(--sublime-orange);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: small;
  font-weight: 700;
}

.btn-block {
  width: 100%;
  display: block;
}

/* Inputs */
.search-input {
  display: block;
  border-radius: 5px;
  width: 100%;
  border: var(--sublime-gray) 1px solid;
  padding: var(--spacing-1) var(--spacing-2);
  line-height: 1.25rem;
  font-size: .875rem;
  margin-bottom: var(--spacing-1);
  outline-color: var(--sublime-orange);
}